/* Write your CSS here */
.login-button {
  color: #303150;
  background-color: #f8fafc;
  border: none;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  font-family: 'Roboto';
  font-size: 14px;
}
